.taskContainer {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  min-height: 72px;
  background: var(--gray-500);
  border-radius: 8px;
  padding: 1rem;
  justify-content: space-between;
}

.taskContainer span {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.taskContainer svg {
  align-self: flex-start;
  color: var(--gray-300);
}
