:root {
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;
  --gray-300: #808080;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;
  --purple: #8284fa;
  --blueDark: #4ea8de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-600);
  width: 100%;
  min-height: 100vh;
  color: var(--gray-100);
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  -webkit-font-smooth: antialiased;
}
